<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
 Lybroan, Mary Jo, and Frank are 3 master's students at the Harvard Graduate School of Education. 
 Lybroan aka the Mathman has 10 years experience teaching high school math and has produced a pilot for a major network (check him out!). 
 Mary Jo aka Dr. MADD is an alumna of Teach For America, where she developed engaging science lessons using edutainment. She is currently developing a edutainment webseries featuring science by Dr. MADD (check her out). 
 Frank is our tech designer and comes from a background in human cognition research, which means he uses brain science to make your EduTainment more exciting!
</p>