<% provide(:title, 'About Us') %>
<div class="center hero-unit">
	<div class="row">
		<h1>Meet the Team</h1>
	</div>
	<div class="row-fluid">
		<div class="span12 center">
			<p>
				Lybroan, Mary Jo, Brandon, Eric, and Frank are Master's students at the <a href="http://www.gse.harvard.edu/">Harvard Graduate School of Education.</a> 
			</p>
			<br />
		</div>
		<div class="row-fluid">
			<div class="span6">
				<img class="content" width="278" height="256" src="http://sphotos-b.xx.fbcdn.net/hphotos-snc7/387572_10150421990151186_796140972_n.jpg" />
			</div>
			<div class="span6">
				<br />
				<p>
					Lybroan, aka the Mathman, is a veteran high school teacher. He first came up with the concept when teaching his 11th- and 12th-graders in Los Angeles, and is now pursuing his dream of making math fun and accessible for all, even producing a pilot featuring the Mathman for a major network. 
				</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<br /><br /><br /><br /><br />
				<p>
					 Mary Jo, aka Dr. MADD, is an alumna of Teach For America, where she first thought up EDUtainment while teaching her 8th-grade Science class. She is currently developing a EDUtainment webseries featuring Science by Dr. MADD. 
				</p>
			</div>
			<div class="span6">
				<img class="content" height="360" width="208" src="http://sphotos-b.xx.fbcdn.net/hphotos-ash4/s720x720/387661_979845220185_1876446380_n.jpg" />
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<img class="content" height="270" width="360" src="http://sphotos-b.xx.fbcdn.net/hphotos-prn1/549768_10151383298658158_996478175_n.jpg" />
			</div>
			<div class="span6">
				<br /><br /><br /><br /><br />
				<p>
					 Brandon Pousley, the Man, the Myth, the Face, is a four-time <a href="http://www.quickmeme.com/meme/3ta94i/">Emmy award winner</a> for educational media. His passion is helping teachers create and use beautiful media. It's his skill that makes Dr. MADD come to life.
				</p>
			</div>
		</div>
			<div class="row-fluid">
			<div class="span6">
				<br /><br /><br /><br /><br />
				<p>
					 Eric Joseph Schilling, of the Cleveland Schillings, is an award-winning cinematographer. He has created 130 videos for on-line syndication with Discovery, Animal Planet, and TLC, and is about to be featured in the Cleveland International Film Festival for his work with <a href="http://www.clevelandfilm.org/films/2013/project-5-when-i-hear-music">hip-hop youth groups</a>.
				</p>
			</div>
			<div class="span6">
				<img class="content" height="270" width="360" src="http://sphotos-b.xx.fbcdn.net/hphotos-prn1/c0.0.403.403/p403x403/76077_4545246555517_1649396968_n.jpg" />
			</div>
		</div>
	
		<div class="row-fluid">
			<div class="span6">
				<img class="content" height="270" width="360" src="http://sphotos-a.xx.fbcdn.net/hphotos-ash4/199036_3227707226536_578763041_n.jpg" />
			</div>
			<div class="span6">
				<br /><br /><br /><br />
				<p>
					Frank is our developer and comes from a background in human cognition research. He's building the website here, and generally doing all kinds of good "supervising"!
				</p>
			</div>
		</div>
		<br />
		<br />
		<p>Thanks for reading and we hope you enjoy!</h1>
	</div>
</div>