<div class="center hero-unit">
	<h1>Welcome to #EduTainment</h1>
	<h2>Schoolhouse Rock for the 21st Century!</h2>

	<h3>
		Check out some of our Featured Artists below:
	</h3>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<iframe class="video-box" src="http://www.youtube.com/embed/9emR4L_ruVo" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="span6">
				<iframe class="video-box" src="http://www.youtube.com/embed/pn1VGytzXus" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<h4>Sign up to create your own user page, browse our videos, and upload your own EduTainment!</h3>
				<br />
				<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
			</div>
		</div>
	</div>
</div>

#<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>