	<div class="row">
		<div class="span3 offset1">
			<br /><br /><br /><br />
			<%= link_to "#{user.title}", user, class: "users" %>
		</div>
		<div class="span3 offset1">
			<p><%= user.description %>
		</div>
	</div>
	<br />
