<% provide(:title, 'Our Artists') %>
<h1>Our Artists</h1>
 
<%= will_paginate %>
 
<ul class="users">
	<br />
	<%= render @users %>
	<br />
</ul>
<br />
<% if current_user.admin? %>
	<%= link_to "Create a new user", new_user_path, class: "btn btn-large btn-primary" %>
<% end %>
<%= will_paginate %>
