<% provide(:title, 'All Users') %>
<h1>All Users</h1>
 
<%= will_paginate %>
 
<ul class="users">
	<%= render @users %>
</ul>
<br />
<%= link_to "Create a new user", new_user_path, class: "btn btn-large btn-primary" %>

<%= will_paginate %>
