<li>
	<span class="content">
#		<iframe width="260" height="180" src=<%= video.url %> frameborder="0" allowfullscreen></iframe>
	</span>
	<span class="timestamp">
		Created <%= time_ago_in_words(video.created_at) %> ago.
	</span>
</li>