
	<div class="span4 content">
		<iframe class="content" width="260" height="180" src="<%= video.vid_url %>" frameborder="10" allowfullscreen></iframe>
	</div>
	<div class="span1 timestamp">
		<br />
		<br />
		Created <%= time_ago_in_words(video.created_at) %> ago.
		<% if signed_in? && ( current_user.admin? || current_user?(video.user)) %>
		|  <%= link_to "delete", , method: :delete, 
										 data: { confirm: "Are you sure?" } %>
		<% end %>
	</div>
	<div class="span1"><p></p></div>
