<% provide(:title, "New Video") %>

	<h1>Upload your Vid</h1>

	<div class="row">
	  <div class="span6 offset3">
		<%= form_for(@video) do |f| %>
		
		  <%= render 'fields', f: f %>
		  <%= f.submit "Create my EduTainment", class: "btn btn-large btn-primary" %>
		
		<% end %>
	  </div>
	</div>

	<p>
	  Find me in app/views/videos/new.html.erb
	</p>
