<form class="form-inline">
  <div class="controls">
    <div class="input-append">
        <input class="span3" placeholder="Search..." type="text"><button class="btn" type="button"><i class="icon-search"></i></button>
    </div>
  </div>
</form>